body {
  
  min-height: 100vh;
  max-width: 100%;
  margin: 0; 
  padding: 0;
  overflow-x: hidden;
}

.wrapper{

  min-height: 100vh;
  max-height: 90%;
  background-color: grey;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



.carousel-inner img {

  height: 300px;
  width: 100%;
}


#myCarousel .list-inline {
    white-space:nowrap;
     overflow: hidden;
}

#myCarousel .carousel-indicators {
    position: static;
    left: initial;
    width: initial;
    margin-left: initial;
}

#myCarousel .carousel-indicators > li {
    width: initial;
    height: initial;
    text-indent: initial;
    opacity: 1;
    
     height: 50px;
     width: 60px;
}

#myCarousel .carousel-indicators > li.active img {
    opacity: 1;
    border: 1px solid white;
}


#carousel-indicators img {

  width: 100%
  height: 100%;
}