
body {
  
  min-height: 100vh;
  background-image: url(../images/road2.jpg);
  max-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0; 
  padding: 0;
  overflow-x: hidden;
}





.wrapper{
  z-index: 100;
  min-height: 100vh;
  max-height: 90%;
 
}

.header {

  text-align: center;
  color: #403f3d;
  font-family: TimesNewRoman;
  font-weight:  bold;
  font-size: 50px;
  opacity: 1;
  z-index: 100;
  padding-top: 20px;

}


@media screen and (max-width: 580px){

  .header {

    font-size: 30px;
}
}

.card {
  border-radius: 5px;
  background: #007bff;
  color: white;
  min-height: 25vh;
  opacity: 0.9;
  margin-left: 20px;
  margin-right: 20px;
}



.card:hover {

  border: 2px solid white;
  transition: 0.5s;
}




.card a {
  color: white;
  background: black;
}


.stories img {

  height: 300px;
  width: auto;
  opacity: 1;

}

.card-body{

  height: 170px;
  background-color: #007bff;

}
.card-text {

  margin: 0 auto;
  padding-bottom: 0px;
}


/***Button Section***/

.glow-on-hover {

    width: 200px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin: 0 auto;
}




















