

body {
	background: url(../images/about.jpg);
	background-position: center;
  background-repeat: no-repeat;
 	background-size: cover;
	margin: 0;	
  overflow-x: hidden;
}

.wrapper {
  min-height: 91vh;
  max-height: 90%;
 }

.header {
  padding-top: 90px;
  text-align: center;
}

.card {
  margin-left: 25px;
  margin-right: 25px;
  height: 550px;
}

iframe {
  height: 500px;
  width: auto;
}

.card p, h2 {

  margin: 0 auto;
  text-align: center
}

