


body {
  
  min-height: 100vh;
  max-width: 100%;
  margin: 0; 
  padding: 0;
  overflow-x: hidden;
}

.wrapper{

  min-height: 100vh;
  max-height: 90%;
 background-image: url(../images/map2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.kopf {

  text-align: center;
  color: grey;
  font-family: TimesNewRoman;
  font-weight:  bold;
  font-size: 20px;
  opacity: 1;
  z-index: 100;
  padding-top: 100px;
}




/*** Bild Größe ***/

.carousel img {

  height:400px;
  width: 100%;
}


/** Container 1 */

@media(min-width: 768px){
.container-1 {

  display: flex;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  }



}

/** Box 1 **/
.box-1 {

  background-color: white;
  flex: 1;
  color: white;
  order: 1;
  height:400px;
  text-align: center;
  opacity: 1;
}

/**Box2**/
.box-2 {
  
  background-color: grey;
  opacity: 0.6;
  flex: 1;
  color: white;
  order: 2;
  height:400px;
  text-align: center;
  border: 1px solid white;
}

.box-2 h2 {
  margin-top: 0;
}

.box-2 p {

	opacity: 1;
	color: black;
	font-style: bold;
	font-size: 20px;
}

/**Container 1 Ende **/


/**Container 2 **/

@media(min-width: 768px){
.container-2 {

  display: flex;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}

}


/**  Box3 **/
.box-3 {

  background-color: grey;
  flex: 1;
  color: black;
  order: 1;
  height:400px;
  text-align: center;
  opacity: 0.6;
  border: 1px solid white;
}

.box-3 h2 h3 {

  margin-top: 0;
  color: white;
}

.box-3 p {

	opacity: 1;
	color: black;
	font-style: bold;
	font-size: 20px;
}



/**Box4**/
.box-4 {
 
  background-color: white;
  opacity: 1;
  flex: 1;
  color: white;
  order: 2;
  height:400px;
  text-align: center;
 
}


/** Container 2 Ende**/


/**Container 3 **/
@media(min-width: 768px){
.container-3 {
  display: flex;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}
}



/*** Box 5**/

.box-5 {

  background-color: white;
  flex: 1;
  color: white;
  order: 1;
  height:400px;
  text-align: center;
  opacity: 1;

}

/**Box 6 **/
.box-6 {

  background-color: grey;
  opacity: 0.6;
  flex: 1;
  color: white;
  order: 2;
  height:400px;
  text-align: center;
  border: 1px solid white;
  
}

.box-6 h2 {
  margin-top: 0;
}

.box-6 p {

	opacity: 1;
	color: black;
	font-style: bold;
	font-size: 20px;
}


/** Container3 Ende**/



/***Container 4 **/

@media(min-width: 768px){
.container-4 {

  display: flex;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}
}

/****Box 7****/

@media(min-width: 768px){
.container-4 {

  display: flex;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  }

}

.box-7 {

  background-color: grey;
  flex: 1;
  color: black;
  order: 1;
  height:400px;
  text-align: center;
  opacity: 0.6;
  border: 1px solid white;
}

.box-7 h2 h3{

  margin-top: 0;
  color: white;
}

.box-7 p {

	opacity: 1;
	color: black;
	font-style: bold;
	font-size: 20px;
}

/**Box8**/
.box-8 {
  
  
  background-color: white;
  opacity: 1;
  flex: 1;
  color: white;
  order: 2;
  height:400px;
  text-align: center;
 
}


/*** Container4 Ende**/



/**Zustatz**/

.headline h1, h2, h3 {

  color: #BDBDBD;
  text-align: center;
}

.black {


  color: black;
}


