

body {
  
  min-height: 100vh;
  max-width: 100%;
  margin: 0; 
  padding: 0;
  overflow-x: hidden;
}

.wrapper{
  z-index: 100;
  min-height: 100vh;
  max-height: 90%;
}

.container {

  margin-top: 25px;
}

.header {

  text-align: center;
  padding-top: 20px;
}

